{% extends "base.html" %}
{% block content %}
<h2>Adicionar Editora</h2>

<form method="POST" class="card p-3 shadow-sm">
  <div class="mb-3">
    <label class="form-label">Nome da Editora</label>
    <input type="text" name="nome" class="form-control" required>
  </div>
  <div class="mb-3">
    <label class="form-label">Endereço</label>
    <textarea name="endereco" class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Salvar</button>
  <a href="{{ url_for('listar_editoras') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
