{% extends "base.html" %}
{% block content %}
<h2>Adicionar Autor</h2>
<form method="POST" class="mt-3">
  <input name="nome" class="form-control mb-2" placeholder="Nome" required>
  <input name="nacionalidade" class="form-control mb-2" placeholder="Nacionalidade">
  <input name="data_nascimento" type="date" class="form-control mb-2">
  <textarea name="biografia" class="form-control mb-2" placeholder="Biografia"></textarea>
  <button class="btn btn-primary">Salvar</button>
  <a href="{{ url_for('listar_autores') }}" class="btn btn-secondary">Voltar</a>
</form>
{% endblock %}