{% extends "base.html" %}
{% block content %}
<h2>Novo Empréstimo</h2>
<form method="POST" class="card p-3">
  <div class="row g-2">
    <div class="col-md-6">
      <label class="form-label">Usuário</label>
      <select name="usuario" class="form-select" required>
        {% for u in usuarios %}
        <option value="{{ u.ID_usuario }}">{{ u.Nome_usuario }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6">
      <label class="form-label">Livro</label>
      <select name="livro" class="form-select" required>
        {% for l in livros %}
        <option value="{{ l.ID_livro }}">{{ l.Titulo }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  <div class="row g-2 mt-3">
    <div class="col-md-6">
      <label class="form-label">Data do Empréstimo</label>
      <input type="date" name="data_emprestimo" class="form-control" required>
    </div>
    <div class="col-md-6">
      <label class="form-label">Data de Devolução Prevista</label>
      <input type="date" name="data_prevista" class="form-control" required>
    </div>
  </div>

  <button type="submit" class="btn btn-primary mt-3">Salvar</button>
</form>
{% endblock %}
