{% extends "base.html" %}
{% block content %}
<h2 class="mb-3">Autores</h2>
<a href="{{ url_for('adicionar_autor') }}" class="btn btn-success mb-3">+ Adicionar Autor</a>
<table class="table table-bordered table-striped">
  <thead class="table-dark">
    <tr>
      <th>ID</th><th>Nome</th><th>Nacionalidade</th><th>Data Nasc.</th><th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for autor in autores %}
    <tr>
      <td>{{ autor.ID_autor }}</td>
      <td>{{ autor.Nome_autor }}</td>
      <td>{{ autor.Nacionalidade }}</td>
      <td>{{ autor.Data_nascimento }}</td>
      <td>
        <a href="{{ url_for('editar_autor', id=autor.ID_autor) }}" class="btn btn-primary">Editar</a>
        <form action="{{ url_for('excluir_autor', id=autor.ID_autor) }}" method="POST" style="display:inline;">
          <button class="btn btn-danger btn-sm" onclick="return confirm('Excluir autor?')">Excluir</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}